root = true

[*]
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
dotnet_sort_system_directives_first = true

csharp_style_expression_bodied_accessors = when_on_single_line
csharp_style_expression_bodied_indexers = when_on_single_line
csharp_style_expression_bodied_local_functions = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_style_expression_bodied_properties = when_on_single_line
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_primary_constructors = false
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

dotnet_diagnostic.CA1200.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1652.severity = none

dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0270.severity = none

dotnet_diagnostic.S1244.severity = none
dotnet_diagnostic.S2325.severity = none
dotnet_diagnostic.S2346.severity = none
dotnet_diagnostic.S2583.severity = none
dotnet_diagnostic.S2589.severity = none
dotnet_diagnostic.S3267.severity = none
dotnet_diagnostic.S4070.severity = none
dotnet_diagnostic.S6960.severity = none
dotnet_diagnostic.S6967.severity = none

[*.{csproj,shproj,projitems,props,targets}]
indent_size = 2

[*.{xml,resx,resw,manifest,appxmanifest}]
indent_size = 2
