# Build ASP.NET Core project and Docker image on every commit to master branch

variables:
- name: BuildConfiguration
  value: release
- name: BuildPlatform
  value: Any CPU
- name: BuildProjects
  value: PlanningPoker.slnx
- name: PublishProjects
  value: src/Duracellko.PlanningPoker.Web/Duracellko.PlanningPoker.Web.csproj
- name: UnitTestProjects
  value: test/*.Test/*.Test.csproj
- group: DockerSettings

trigger:
- master

pr: none

jobs:
- template: azure-pipelines/azure-pipelines-build.yml
  parameters:
    RunEnd2EndTests: true
    RunContainerTests: true
    PublishArtifacts: true
