@inherits ViewComponentBase
@using Duracellko.PlanningPoker.Service
@inject CreateTeamController Controller

<div class="card">
    <h5 class="card-header">Create team</h5>
    <div class="card-body">
        <form name="createTeam" action="." @onsubmit="CreateTeamCommand">
            <div class="form-group">
                <label for="createTeam$teamName">Team name:</label>
                <input type="text" id="createTeam$teamName" name="teamName" @bind="TeamName"
                       class="@GetFormControlCss(IsTeamNameValid)" maxlength="50" />
                @if (!IsTeamNameValid)
                {
                    <span class="invalid-feedback">Required</span>
                }
            </div>
            <div class="form-group">
                <label for="createTeam$scrumMasterName">Scrum Master name:</label>
                <input type="text" id="createTeam$scrumMasterName" name="scrumMasterName" @bind="ScrumMasterName"
                       class="@GetFormControlCss(IsScrumMasterNameValid)" maxlength="50" />
                @if (!IsScrumMasterNameValid)
                {
                    <span class="invalid-feedback">Required</span>
                }
            </div>
            <div class="form-group">
                <label for="createTeam$selectedDeck">Deck of cards:</label>
                <select id="createTeam$selectedDeck" name="deck" class="form-control"
                        @bind="SelectedDeck">
                    @foreach (var deckOption in EstimationDecks)
                    {
                        <option value="@deckOption.Key">@deckOption.Value</option>
                    }
                </select>
            </div>
            <button type="submit" id="createTeam$Submit" class="btn btn-primary">Create team</button>
        </form>
    </div>
    <div class="card-footer">
        <small>
            <strong>Tip:</strong> After creating the team, send link from addressbar to your team mates.
            After opening the link, the "Team name" is pre-filled and they just need to enter name.
        </small>
    </div>
</div>

@code
{
    private IEnumerable<KeyValuePair<Deck, string>> EstimationDecks => Controller.EstimationDecks;

    private string? TeamName { get; set; }

    private string? ScrumMasterName { get; set; }

    private Deck SelectedDeck { get; set; }

    private bool IsTeamNameValid => TeamName == null || !string.IsNullOrWhiteSpace(TeamName);

    private bool IsScrumMasterNameValid => ScrumMasterName == null || !string.IsNullOrWhiteSpace(ScrumMasterName);

    private Task CreateTeamCommand()
    {
        if (TeamName == null)
        {
            TeamName = string.Empty;
        }

        if (ScrumMasterName == null)
        {
            ScrumMasterName = string.Empty;
        }

        return TryRun(() => Controller.CreateTeam(TeamName, ScrumMasterName, SelectedDeck));
    }

    private string GetFormControlCss(bool valid) => valid ? "form-control" : "form-control is-invalid";
}
