@implements IDisposable
@inject UI.MessageBoxService _messageBoxService
@inject IJSRuntime _jsRuntime

<div @ref="messageBoxElement" id="messageBox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" @onclick="CloseDialog" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                @if (PrimaryButtonText != null)
                {
                    <button type="button" class="btn btn-primary" @onclick="PrimaryCommand">@PrimaryButtonText</button>
                }
                <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Close</button>
            </div>
        </div>
    </div>
</div>

@code
{
    private ElementReference messageBoxElement;

    private TaskCompletionSource<bool> _showMessageTask;

    private string Message { get; set; }

    private string Title { get; set; }

    private string PrimaryButtonText { get; set; }

    public void Dispose()
    {
        _messageBoxService.SetMessageHandler(null);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _messageBoxService.SetMessageHandler(ShowMessage);
    }

    private Task<bool> ShowMessage(string message, string title, string primaryButton)
    {
        Message = message;
        Title = title;
        PrimaryButtonText = primaryButton;

        StateHasChanged();
        ShowDialog();

        _showMessageTask = new TaskCompletionSource<bool>();
        return _showMessageTask.Task;
    }

    private void CloseDialog()
    {
        EndShowMessageTask(false);
        HideDialog();
    }

    private void PrimaryCommand()
    {
        EndShowMessageTask(true);
        HideDialog();
    }

    private void EndShowMessageTask(bool result)
    {
        if (_showMessageTask != null)
        {
            _showMessageTask.SetResult(result);
            _showMessageTask = null;
        }
    }

    private async void ShowDialog()
    {
        await _jsRuntime.InvokeAsync<object>("Duracellko.PlanningPoker.showMessageBox", messageBoxElement);
    }

    private async void HideDialog()
    {
        await _jsRuntime.InvokeAsync<object>("Duracellko.PlanningPoker.hide", messageBoxElement);
    }
}
