@inherits ViewComponentBase
@inject JoinTeamController Controller

<div class="card">
    <h5 class="card-header">Join team</h5>
    <div class="card-body">
        <form name="joinTeam" action="." @onsubmit="JoinTeamCommand">
            <div class="form-group">
                <label for="joinTeam$teamName">Team name:</label>
                <input type="text" id="joinTeam$teamName" name="teamName" @bind="TeamName"
                       class="@GetFormControlCss(IsTeamNameValid)" maxlength="50" />
                @if (!IsTeamNameValid)
                {
                    <span class="invalid-feedback">Required</span>
                }
            </div>
            <div class="form-group">
                <label for="joinTeam$memberName">Member name:</label>
                <input type="text" id="joinTeam$memberName" name="memberName" @bind="MemberName"
                       class="@GetFormControlCss(IsMemberNameValid)" maxlength="50" />
                @if (!IsMemberNameValid)
                {
                    <span class="invalid-feedback">Required</span>
                }
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" id="joinTeam$asObserver" name="asObserver" @bind="AsObserver" class="form-check-input" />
                    <label for="joinTeam$asObserver" class="form-check-label">As observer only</label>
                </div>
            </div>
            <button type="submit" id="joinTeam$submit" class="btn btn-primary">Join team</button>
        </form>
    </div>
    <div class="card-footer">
        <small>
            <strong>Tip:</strong> If you accidentally closed browser window and want to reconnect to your team,
            simply enter your original team and member name here and click "Join team". You will get reconnected.
        </small>
    </div>
</div>

@code
{
    [Parameter]
    public string TeamName { get; set; }

    [Parameter]
    public string MemberName { get; set; }

    private bool AsObserver { get; set; }

    private bool IsTeamNameValid => TeamName == null || !string.IsNullOrWhiteSpace(TeamName);

    private bool IsMemberNameValid => MemberName == null || !string.IsNullOrWhiteSpace(MemberName);

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        if (!string.IsNullOrEmpty(MemberName))
        {
            try
            {
                await Controller.TryReconnectTeam(TeamName, MemberName);
            }
            catch (Exception)
            {
                // Ignore error. User can connect manually.
            }

            MemberName = null;
        }
    }

    private Task JoinTeamCommand()
    {
        if (TeamName == null)
        {
            TeamName = string.Empty;
        }

        if (MemberName == null)
        {
            MemberName = string.Empty;
        }

        return TryRun(() => Controller.JoinTeam(TeamName, MemberName, AsObserver));
    }

    private string GetFormControlCss(bool valid) => valid ? "form-control" : "form-control is-invalid";
}
