@inherits LayoutComponentBase

<div class="pageContent">
    <BusyIndicatorPanel />
    <GlobalMessagePanel />

    <div class="planningPokerContainer">
        <header>
            <NavBar />
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        Copyright &copy; @System.DateTime.Now.Year <a href="https://www.infomedbenner.com.br" target="_blank">InfomedBenner</a>
        @* &ndash; <a href="https://github.com/duracellko/planningpoker4azure/blob/master/README.md#Attributions">Attributions</a>*@
    </div>
</footer>
