@inherits LayoutComponentBase

<div class="pageContent">
    <div class="planningPokerContainer">
        <header>
            <NavBar />
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </div>

    <BusyIndicatorPanel />
    <GlobalMessagePanel />
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        @UIResources.MainLayout_CopyrightLabel <a href="http://www.duracellko.net" target="_blank">Duracellko.net</a> &ndash;
        <a href="https://github.com/duracellko/planningpoker4azure/blob/master/README.md#Attributions">@UIResources.MainLayout_AttributionsLabel</a>
    </div>
</footer>
