<div class="planningPokerContainer">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://github.com/duracellko/planningpoker4azure" target="_blank">Planning Poker Website</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div id="userInfoPanel" class="navbar-right" style="display: none">
                    <p class="navbar-text"><span data-bind="text: userName"></span></p>
                    <p class="navbar-btn"><a href="#disconnect" class="btn btn-default">Disconnect</a></p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="joinTeamPanel" class="panel panel-primary panel-collapse" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Join team</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="display: none">
                            <span></span>
                        </div>
                        <form action="." id="joinTeam">
                            <div class="form-group">
                                <label for="joinTeam$teamName">Team name:</label>
                                <input type="text" id="joinTeam$teamName" name="teamName" data-bind="value: teamName" class="form-control required" maxlength="50" />
                            </div>
                            <div class="form-group">
                                <label for="joinTeam$memberName">Member name:</label>
                                <input type="text" id="joinTeam$memberName" name="memberName" data-bind="value: memberName" class="form-control required" maxlength="50" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="joinTeam$asObserver" name="asObserver" data-bind="checked: asObserver" />
                                    As observer only
                                </label>
                            </div>
                            <input type="submit" id="joinTeam$submit" class="btn btn-primary" value="Join team" />
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="createTeamPanel" class="panel panel-primary panel-collapse" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create team</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="display: none">
                            <span></span>
                        </div>
                        <form action="." id="createTeam">
                            <div class="form-group">
                                <label for="createTeam$teamName">Team name:</label>
                                <input type="text" id="createTeam$teamName" name="teamName" data-bind="value: teamName" class="form-control required" maxlength="50" />
                            </div>
                            <div class="form-group">
                                <label for="createTeam$scrumMasterName">Scrum Master name:</label>
                                <input type="text" id="createTeam$scrumMasterName" name="scrumMasterName" data-bind="value: scrumMasterName" class="form-control required" maxlength="50" />
                            </div>
                            <input type="submit" id="createTeam$Submit" class="btn btn-primary" value="Create team" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="membersPanel" style="display: none">
                    <div class="panel panel-default">
                        <div class="panel-heading">Scrum Master</div>
                        <ul data-bind="with: scrumMaster" class="list-group">
                            <li data-bind="text: name" class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Members</div>
                        <ul data-bind="foreach: members" class="list-group">
                            <li class="list-group-item">
                                <span data-bind="text: name"></span>
                                <a data-bind="click: $root.kickoffMember, clickBubble: false, visible: $root.isScrumMaster" href="#kickoff"
                                   class="pull-right text-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span class="sr-only">remove</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Observers</div>
                        <ul data-bind="foreach: observers" class="list-group">
                            <li class="list-group-item">
                                <span data-bind="text: name"></span>
                                <a data-bind="click: $root.kickoffMember, clickBubble: false, visible: $root.isScrumMaster" href="#kickoff"
                                   class="pull-right text-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span class="sr-only">remove</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="pokerDeskPanel" style="display: none">
                    <h2 data-bind="text: name"></h2>

                    <div data-bind="visible: canSelectEstimation" class="availableEstimations">
                        <h3>Pick estimation</h3>
                        <ul data-bind="foreach: availableEstimations">
                            <li><a data-bind="text: caption, click: $root.selectEstimation, clickBubble: false" href="#selectEstimation"></a></li>
                        </ul>
                    </div>

                    <div data-bind="visible: isScrumMaster">
                        <p>
                            <span data-bind="visible: canStartEstimation">
                                <a href="#startEstimation" class="btn btn-default">Start estimation</a>
                            </span>
                            <span data-bind="visible: canCancelEstimation">
                                <a href="#cancelEstimation" class="btn btn-default">Cancel estimation</a>
                            </span>
                        </p>
                    </div>

                    <div data-bind="visible: hasEstimationResult" class="estimationResult">
                        <h3>Selected estimates</h3>
                        <ul data-bind="foreach: estimationResultItems">
                            <li>
                                <span data-bind="text: estimation() != null ? estimation().caption() : ''" class="estimationItemValue"></span>
                                <span data-bind="text: member() != null ? member().name() : ''" class="estimationItemName"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>