@page "/"
@page "/Index"
@page "/Index/{TeamName}"
@page "/Index/{TeamName}/{MemberName}"

<div class="row">
    <div class="col-md-6">
        <JoinTeamPanel TeamName="@TeamName" MemberName="@MemberName" />
    </div>

    <div class="col-md-6">
        <CreateTeamPanel />
    </div>
</div>

@functions
{
    [Parameter]
    public string? TeamName { get; set; }

    [Parameter]
    public string? MemberName { get; set; }
}
