@page "/PlanningPoker"
@implements IDisposable
@inject MessageReceiver MessageReceiver
@inject PlanningPokerController Controller

<div class="row">
    <div class="col-md-4">
        <MembersPanel />
    </div>

    <div class="col-md-8">
        <PlanningPokerDesk />
    </div>
</div>

@functions
{
    private IDisposable _messageController;

    public void Dispose()
    {
        if (_messageController != null)
        {
            _messageController.Dispose();
            _messageController = null;
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _messageController = MessageReceiver.StartReceiving(Controller);
    }
}
