@page "/PlanningPoker"
@page "/PlanningPoker/{TeamName}"
@page "/PlanningPoker/{TeamName}/{MemberName}"
@implements IDisposable
@inject PlanningPokerController Controller
@inject MessageReceiver MessageReceiver
@inject Duracellko.PlanningPoker.Client.Service.INavigationManager NavigationManager

@if (Controller.ScrumTeam != null)
{
    <div class="row">
        <div class="col-md-4 mb-2">
            <MembersPanel />
        </div>

        <div class="col-md-8">
            <PlanningPokerDesk />
        </div>
    </div>
}

@functions
{
    private IDisposable? _messageController;

    [Parameter]
    public string? TeamName { get; set; }

    [Parameter]
    public string? MemberName { get; set; }

    public void Dispose()
    {
        if (_messageController != null)
        {
            _messageController.Dispose();
            _messageController = null;
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Controller.ScrumTeam == null)
        {
            ControllerHelper.OpenIndexPage(NavigationManager, TeamName, MemberName);
        }
        else
        {
            _messageController = MessageReceiver.StartReceiving(Controller);
        }
    }
}
