/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Provide sufficient contrast against white background */
main a, main a:not([href]):not([tabindex]) {
    color: #0366d6;
}

main a:focus, main a:hover, main a:not([href]):not([tabindex]):focus, main a:not([href]):not([tabindex]):hover {
    color: #23527c;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#blazor-error-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}

/* Members panel */

.remove-member-btn {
    --bs-btn-border-width: 0;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0;
    --bs-btn-color: #e7727d;
    --bs-btn-hover-color: #dc3545;
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-color: #dc3545;
    --bs-btn-active-bg: transparent;
}

/* Poker desk */

.pageContent {
    padding-bottom: 30px;
}

.pageContent a {
    cursor: pointer;
}

.pokerDeskPanel h2 {
    color: #337ab7;
    margin-top: 2px;
}

.pokerDeskPanel h3 {
    color: #5cb85c;
}

.team-title {
    margin: 2px 0px 10px 0px;
}

.team-title h2, .team-title h3 {
    display: inline-block;
    margin: 0px 18px 0px 0px;
}

.team-title .badge {
    position: relative;
    top: -3px;
}

/* Select estimation */

.availableEstimations ul {
    list-style: none;
    padding-left: 0;
}

.availableEstimations li {
    display: inline-block;
    margin: 4px;
    width: 74px;
    height: 105px;
    font-size: 32pt;
    background: url(images/cardbg.png) no-repeat center center;
}

.availableEstimations a {
    display: block;
    width: 74px;
    height: 105px;
    padding-top: 24px;
    text-align: center;
    text-decoration: none;
}

.availableEstimations a:hover {
    text-decoration: none;
}

.availableEstimations a:active {
    text-decoration: none;
}

/* Estimation result */

.estimationResult ul {
    list-style: none;
    padding-left: 0;
}

.estimationResult li {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}

.estimationResult .estimationItemValue {
    display: block;
    width: 74px;
    height: 105px;
    padding-top: 24px;
    background: url(images/cardbg.png) no-repeat center center;
    text-align: center;
    font-size: 32pt;
    color: #337ab7;
}

.estimationResult .estimationItemName {
    display: block;
    width: 74px;
    padding: 3px 0 5px 0;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    overflow-wrap: break-word;
}
