@inject Duracellko.PlanningPoker.Client.Service.TimerFactory TimerFactory

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>A página especificada não foi encontrada. Por favor, verifique se o URL está correto.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        TimerFactory.SetDispatcherDelegate(InvokeAsync);
    }
}
