@implements IDisposable
@inject UI.BusyIndicatorService _busyIndicatorService

<div id="busyIndicatorPanel" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-title">Processing...</p>
            </div>
        </div>
    </div>
</div>

@functions
{
    public async void SetVisibility(bool visible)
    {
        StateHasChanged();
        if (visible)
        {
            await JSRuntime.Current.InvokeAsync<object>("eval", "$('#busyIndicatorPanel').modal({ backdrop: 'static', keyboard: false })");
        }
        else
        {
            await JSRuntime.Current.InvokeAsync<object>("eval", "$('#busyIndicatorPanel').modal('hide')");
        }
    }

    public void Dispose()
    {
        _busyIndicatorService.SetBusyIndicatorHandler(null);
    }

    protected override void OnInit()
    {
        base.OnInit();
        _busyIndicatorService.SetBusyIndicatorHandler(SetVisibility);
    }
}
