@page
@model Duracellko.PlanningPoker.Web.Model.HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrum Planning Poker</title>
    <base href="/" />
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <app>Loading...</app>

    <script src="dist/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="Scripts/PlanningPoker.js"></script>
    @if (Model.ClientConfiguration.UseServerSideBlazor)
    {
        <script src="_framework/blazor.server.js"></script>
    }
    else
    {
        <script src="_framework/blazor.webassembly.js"></script>
    }
</body>
</html>
