@page
@model Duracellko.PlanningPoker.Web.Model.HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrum Planning Poker</title>
    <base href="/" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @if (Model.ClientConfiguration.UseServerSideBlazor)
        {
            @(await Html.RenderComponentAsync<Duracellko.PlanningPoker.Client.App>(RenderMode.Server))
        }
        else
        {
            <span class="oi oi-loop-circular"></span> <span>Loading...</span>
        }
    </app>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>window.jQuery.fn.modal || document.write('<script src="js/bootstrap.bundle.min.js"><\/script>')</script>

    <script>
        (function($) {
            $(function() {
                if ($('body').css('color') !== 'rgb(33, 37, 41)') {
                    $('head').prepend('<link href="css/bootstrap.min.css" rel="stylesheet" />');
                }
                if ($('app > .oi').css('font-family') !== 'Icons') {
                    $('head').prepend('<link href="font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />');
                }
            })
        })(window.jQuery);
    </script>

    <script src="Scripts/PlanningPoker.js"></script>
    @if (Model.ClientConfiguration.UseServerSideBlazor)
    {
        <script src="_framework/blazor.server.js"></script>
    }
    else
    {
        <script src="_framework/blazor.webassembly.js"></script>
    }
</body>
</html>
